# settings used both in production and on development machines

# an identificative number that allows to check if the settings are up-to-date
SETTINGS_REVISION=1

# database engine
DB_ENGINE=django.db.backends.postgresql
DB_HOST=127.0.0.1
DB_PORT=54320

# database used by backend apps
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=secretpassword

# django settings
DEBUG=False

# generate one from https://djecrety.ir/
SECRET_KEY=a_random_string

# at least one ALLOWED_HOSTS URL must coincide with .env.prod 
ALLOWED_HOSTS=.localhost,127.0.0.1,[::1]

# at least one CORS_ALLOWED_ORIGINS URL must coincide with .env.prod 
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8081
CSRF_TRUSTED_ORIGINS=localhost:8000,localhost:8080,localhost:8081

# email settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.yourserver.com
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@yourserver.com
EMAIL_HOST_PASSWORD=asupersecurepassword

SITE_URL=http://localhost:8000
STATIC_ROOT_RELATIVE=../static/

# safe to use the same in development and production
DJANGO_SENTRY_DSN_URL=https://somanynumbersandletters.ingest.sentry.io/someothernumbers
