Gent.le {{iscrizione.iscritto.nome}} {{iscrizione.iscritto.cognome}},<br />
Abbiamo ricevuto la vostra iscrizione a
<b>{{iscrizione.evento.nome_evento}}</b>.
<br />
<b>IMPORTANTE!</b><br />
Per confermare l'iscrizione e validare la tua email vi chiediamo gentilmente di
visitare il seguente link:
<a href="{{dominio}}/confirm/{{token}}/">{{dominio}}/confirm/{{token}}/</a>

{{iscrizione.evento.istruzioni_email}}<br />
Grazie per il vostro interesse verso questa iniziativa! <br />
Il comitato organizzatore
