Gent.le {{iscrizione.iscritto.nome}} {{iscrizione.iscritto.cognome}},<br />
Abbiamo ricevuto la vostra iscrizione a
<b>{{iscrizione.evento.nome_evento}}</b>.
{% if iscrizione.evento.istruzioni_email %}<br/>{{iscrizione.evento.istruzioni_email|linebreaks}}{% endif %}
{% if attivita %}
<br />Attività a cui si è iscritto/a:<br/>
<dl>
    {% for a in attivita %}
    <dt>{{a.inizio_attivita}} - {{a.tipo_attivita}}: {{a.nome}}</dt>
    <dd>{{a.istruzioni_email|linebreaks}}{% if a.link %}<br><a href="{{a.link}}">{{a.testo_link}}</a>{% endif %}</dd>
    {% endfor %}
</dl>
{% endif %}<br /><br />
<b>IMPORTANTE!</b><br />
Per confermare l'iscrizione e validare la vostra email vi chiediamo gentilmente
di visitare il seguente link:
<a href="{{dominio}}/confirm/{{token}}/">{{dominio}}/confirm/{{token}}/</a>
<br />
<br /><br />
Grazie per il vostro interesse verso questa iniziativa! <br />
Il comitato organizzatore
